<div class="date-picker-container" #container>
    <span class="calendar-icon"  (click)="toggleCalendar($event)" > <img src="assets/icons/date.png" alt="date Icon" class="date-icon"/></span>
    <div class="date-input-container" (click)="toggleCalendar()">
      <input
        type="text"
        class="date-input"
        [value]="formatDate(selectedDate)"
        readonly
        placeholder="No Date"
        (click)="toggleCalendar($event)" 
      />
    </div>
  <div *ngIf="showCalendar" class="datepicker-overlay" >
    <div class="calendar-popup"  >
      <div class="quick-select">
        <ng-container *ngIf="isEndDatePicker">
          <button type="button" (click)="clearDate($event)" class="quick-option">No date</button>
          <button type="button" (click)="selectToday($event)" class="quick-option">Today</button>
        </ng-container>
    
        <ng-container *ngIf="!isEndDatePicker">
          <button type="button" (click)="selectToday($event)"  class="quick-option" >Today</button>
          <button type="button" (click)="selectNextMonday($event)"  class="quick-option" >Next Monday</button>
          <button type="button" (click)="selectNextTuesday($event)"  class="quick-option" >Next Tuesday</button>
          <button type="button" (click)="selectNextWeek($event)"  class="quick-option" >After 1 week</button>
        </ng-container>
      </div>
      

      
      <div class="calendar-header">
        <button type="button" (click)="previousMonth($event)">◀</button>
        <span>{{ currentMonth }} {{ currentYear }}</span>
        <button type="button" (click)="nextMonth($event)">▶</button>
      </div>
  
      <div class="calendar-grid">
        <div class="weekdays">
          <div *ngFor="let day of weekDays">{{ day }}</div>
        </div>
        <div class="days">
          <div
            *ngFor="let day of calendarDays"
            class="day"
            [class.other-month]="day.getMonth() !== currentDate.getMonth()"
            [class.selected]="isSelected(day)"
            [class.today]="isToday(day)"
            [class.disabled]="isDisabled(day)"
            (click)="!isDisabled(day) && selectDate(day)"
          >
            {{ day.getDate() }}
          </div>
        </div>
      </div>
  
      <div class="calendar-footer">
        <div class="date-display">
          <span class="calendar-icon-small" (click)="toggleCalendar($event)"><img src="assets/icons/date.png" alt="date Icon" class="date-icon-picker"/></span>
          <span>{{ formatDate(tempSelectedDate || selectedDate) }}</span>
        </div>
        <div class="actions">
          <button class="btn-cancel" (click)="cancel($event)">Cancel</button>
          <button class="btn-save" (click)="saveDate($event)">Save</button>
        </div>
      </div>
    </div>
  </div>
  </div>