<div class="employee-list-header">
  <div *ngIf="!employee.id" class="heading container">
    <h2 class="employee-list-heading">Add Employee Details </h2>   
</div>
<div *ngIf="employee.id" class="heading container">
  <h2 class="employee-list-heading">Edit Employee Details </h2>
</div>
</div>
<div class="employee-form">
<div *ngIf="employee">
  <form (submit)="saveEmployee()">
    <img class="icon" src="assets/icons/usericon.png" alt="User">
    <input class="input-field" name="name" [(ngModel)]="employee.name" type="text" placeholder="Employee name" />

    <img class="select-icon" src="assets/icons/select.png" alt="select">
    <div><select class="select-field" name="role" [(ngModel)]="employee.role">
        <option value="">Select role</option>
        <option value="Developer">Developer</option>
        <option value="Designer">Designer</option>
        <option value="Manager">Manager</option>
        <option value="QA">QA</option>
      </select></div>
    <div class="date">
      <div class="input-field-date">
        <div class="backdrop" *ngIf="isDatePickerOpen"></div>
        <app-custom-date-picker
        [selectedDate]="formattedJoiningDate" 
        [minDate]="minDate"
        [isEndDatePicker]="false"
        (dateChange)="onDateSelected($event)">
      </app-custom-date-picker>
      </div>
      <span class="date-diff-arrow ">→</span>
      <div class="input-field-date">
        <app-custom-date-picker
        [selectedDate]="formattedLastDate"
        [minDate]="getMinLastDate()"
        [isEndDatePicker]="true"
        (dateChange)="onLastDateSelected($event)">
      </app-custom-date-picker> 
      </div>
      <div class="button-container">
        <button class="cancel-button" (click)="cancel()">Cancel</button>
        <button class="save-button"  type="submit" >Save</button>
      </div>
    </div>
  </form>
</div>